//media queries
$desktop-xl: 1200px;
$belowDesktop-xl: 1199.98px;
$desktop: 992px;
$belowDesktop: 991.98px;
$tablet: 768px;
$belowTablet: 767.98px;
$phone: 576px;
$belowPhone: 575.98px;


//colors
$color-primary: #8d81ac;
$color-primary-hover: #5b4f78;
$color-secondary: #635c73;
$color-secondary-hover: #322f3a;
$color-accent: #333;
$color-white: #fff;
$color-white-opaque: rgba(255, 255, 255, 0.11);
$color-white-opaque-medium: rgba(255, 255, 255, 0.3);
$color-light-purple-opaque: rgba(162, 145, 165, 0.8);
$color-black-opaque: rgba(0, 0, 0, 0.11);
$color-dark-purple-opaque: rgba(68, 55, 74, 0.84);
$color-black: #000;
$color-extra-light-grey: #f4f4f4;
$color-light-grey: #c8cbcf;
$color-medium-grey: #c1c1c1;
$color-grey: #d3d1da;
$color-strong-grey: #848e97;
$color-twitter: #26a6d1;
$color-twitter-hover: #16627b;
$color-facebook: #3b5998;
$color-facebook-hover: #1f2e4f;
$color-purple: #4B3B4D;
$color-light-purple: #665866;

$darken-amount: 20%;
