.footer {
  padding-top: 45px;
  padding-bottom: 85px;
  margin: 0 20px;
  &__logo {
    width: 260px;
  }
  &__element{
    max-width: 430px;
    &--lg {
      padding-bottom: 30px;
    }
    &--md {
      margin-bottom: 15px;
    }
    &--sm {
      padding-bottom: 10px;
    }
  }
}