.fixed-top {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 30px 0;
  margin: 0;
  background-color: $color-white;
  min-width: 320px;
  &.navbar-shrink {
    padding: 8px 0;
  }
  .fa-bars {
    font-size: 38px;
  }
  .navbar-toggler {
    border-width: 0;
  }
  .nav-content {
    text-align: right;
    .navbar-nav {
      font-weight: bold;
      font-size: 16px;
      line-height: 45px;
      .nav-item {
        display: inline-block;
        margin: 0 25px;
      }
      .nav-button {
        display: inline-block;
        a {
          padding: 7px 36px;
          &:hover {
            background-color: $color-primary-hover;
          }
        }
      }
      .nav-link {
        color: $color-secondary;
        display: inline;
        padding: 0;
        &:hover {
          background: transparent;
          color: $color-secondary-hover;
        }
      }
    }
  }
}

.nav {
  &--visible {
    &-first {
      display: block;
    }
    &-second {
      display: none;
    }
  }
}

@media all and (max-width: $belowDesktop) {
  .nav-item {
    margin: 0 10px!important;
  }
  .navbar{
    &>.container {
      max-width: 100%;
      padding: 0 10px;
    }
  }
  .fixed-top {
    padding: 20px 0;
    .nav-content {
      .navbar-nav {
        font-size: 14px;
      }
    }
    .btn {
      &--size {
        &-sm {
          font-size: 14px;
        }
      }
    }
  }
}

@media all and (max-width: $belowTablet) {
  .fixed-top {
    padding: 15px 0;
    .nav-content {
      .navbar-nav {
        font-size: 14px;
      }
    }
  }
}

@media all and (max-width: $belowPhone) {
 .v-line {
   margin: auto 15px auto auto;
 }
}
