.overview {
  background-color: $color-extra-light-grey;
  padding-top: 67px;
  position: relative;
  height: 700px;
  &--visible {
    &-first {
      display: block;
    }
    &-second {
      display: none;
    }
  }
}
.feature-block {
  margin-top: 18px;
  margin-bottom: 30px;
  &__image {
    margin-top: 10px;
  }
}
@media all and (max-width: $belowDesktop-xl) {
  .overview {
    height: 780px;
    .text{
      &--nowrap {
        white-space: normal;
      }
    }
  }
}
@media all and (max-width: $belowDesktop) {
  .overview {
    height: 1230px;
    &--visible {
      &-first {
        display: none;
      }
      &-second {
        display: block;
      }
    }
  }
}
@media all and (max-width: $belowTablet) {
  .overview {
    height: auto;
  }
  .feature-block {
    margin-left: auto;
    margin-right: auto;
    &__image {
      &-code {
        margin-left: -10px;
        width: 1000px;
        height: auto;
      }
    }
  }
}
@media all and (max-width: $belowPhone) {
  .overview {
    padding-top: 50px;
  }
  .feature-block {
    &__image {
      margin-top: 10px;
      &-wrapper {
        min-width: 85px;
      }
      &-code {
        margin-left: -10px;
        width: 850px;
        height: auto;
      }
    }
    img {
      transform: scale(0.7, 0.7);
    }
  }
}
