.subscription {
  background-color: $color-extra-light-grey;
  padding: 47px 0;
  color: $color-white;
}

@media all and (max-width: $belowDesktop){
  .subscription {
    & .text-right {
      text-align: center !important;
    }
    & .text-left {
      text-align: center !important;
    }
  }
}