.btn {
  font-weight: bold;
  vertical-align: top;
  position: relative;
  &--color {
    &-primary {
      background-color: $color-primary;
      color: $color-white;
      &:hover {
        background-color: $color-primary-hover;
        color: $color-white;
      }
    }
    &-primary-inverted {
      background-color: $color-extra-light-grey;
      color: $color-primary;
      &:hover {
        background-color: darken($color-extra-light-grey, $darken-amount);
        color: darken($color-primary, $darken-amount) !important;
      }
    }
    &-white-opaque {
      background-color: $color-white-opaque;
      color: $color-white;
      &:hover {
        background-color: darken($color-white-opaque, $darken-amount);
        color: $color-white;
      }
    }
  }
  &--size {
    &-sm {
      padding: 7px 36px;
      margin: 2px 10px;
      border: 0;
      border-radius: 19px;
      font-size: 16px;
    }
    &-md {
      padding: 12px 36px;
      margin: 0 10px;
      border: 0;
      border-radius: 22px;
      font-size: 13px;
    }
    &-lg {
      padding: 15px 67px;
      border: 0;
      border-radius: 30px;
      font-size: 21px;
    }
    &-square {
      &-sm {
      padding: 8px 20px;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 600;
      }
    }
    &-fixed {
      &-md {
        width: 141px;
        height: 44px;
        border-radius: 22px;
        border: 0;
        margin: 0 10px;
        font-size: 13px;
      }
    }
  }
  &--social {
    width: 230px;
    height: 50px;
    border-radius: 3px;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    line-height: 38px;
    &-github {
      background-color: $color-extra-light-grey;
      color: $color-black !important;
      &:hover {
        opacity: 0.7;
        color: $color-black !important;
      }
    }
    &-twitter {
      background-color: $color-twitter;
      color: $color-white !important;
      &:hover {
        opacity: 0.7;
        color: $color-white !important;
      }
    }
    &-facebook {
      background-color: $color-facebook;
      color: $color-white !important;
      &:hover {
        opacity: 0.7;
        color: $color-white !important;
      }
    }
  }
}
.fab {
  position: absolute;
  left: 20px;
  font-size: 18px;
  margin-top: 9px;
}

@media all and (max-width: $belowDesktop) {
  .btn {
    &--social {
      width: 190px;
      font-size: 19px;
    }
  }
  .fab {
    margin-top: 10px;
  }
}

@media all and (max-width: $belowTablet) {
  .btn {
    &--size {
      &-fixed {
        &-md {
          width: 120px;
          height: 36px;
        }
      }
    }
    &--social {
      width: 150px;
      font-size: 16px;
      height: 40px;
      line-height: 28px;
    }
  }
  .fab {
    left: 15px;
    margin-top: 6px;
  }
}

@media all and (max-width: $belowPhone) {
  .btn {
    &--size {
      &-lg {
        padding: 12px 35px;
        border: 0;
        border-radius: 30px;
        font-size: 17px;
      }
      &-fixed {
        &-md {
          height: 34px;
        }
      }
    }
    &--social {
      width: 110px;
      font-size: 12px;
      height: 35px;
      line-height: 23px;
    }
    .fab {
      left: 9px;
      margin-top: 2px;
    }
  }
}