.carousel-control-prev-icon {
  background-image: url("../img/arrow-l.svg") !important;
  height: 20px;
  width: 13px;
}
.carousel-control-next-icon {
  background-image: url("../img/arrow-r.svg") !important;
  height: 20px;
  width: 13px;
}
.carousel-control-next .carousel-control-prev{
  position: relative;
  display: inline-block;
}