.field {
  font-weight: 600;
  &--size {
    &-sm {
      padding: 12.5px 36px;
      border-radius: 21px;
      border-width: 0;
    }
  }
  &::placeholder {
    color: $color-light-grey;
    opacity: 1;
  }
}

@media all and (max-width: $belowTablet) {
  .field {
    &--size {
      &-sm {
        width: 250px;
        padding: 9px 30px;
      }
    }
  }
}

@media all and (max-width: $belowPhone) {
  .field {
    &--size {
      &-sm {
        width: 230px;
        padding: 9px 30px;
        margin-bottom: 10px;
      }
    }
  }
}